<!DOCTYPE html>
<html>
<head>
    <title>Real-time Chat</title>
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    <div id="chatContainer">
        <ul id="messages"></ul>
        <input type="text" id="username" placeholder="Username" />
        <input type="text" id="messageInput" placeholder="Type your message..." />
        <button id="sendButton">Send</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @* <script src="/chat.js"></script> *@
    @* <script src="/js/chat.js"></script> *@
    <script src="http://localhost:5293/js/chat.js"></script>


    @* <script src="{{asset('js/chat.js')}}"></script> *@

</body>
</html>