@model WebApplication1.Models.Student;
@* Show form information from another page *@
<h1>The following values are from the form: </h1>
<h2>ID: @Mode.Id</h2>
<h2>Name: @Mode.Name</h2>
<h2>Age: @Mode.Age</h2>
