@page
@model WebApplication1.Views.Home.HomeModel
@{
    ViewData["Title"] = "My Home Page";
    ViewData["Message"] = "My Message";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use information.</p>
